* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: Montserrat;
    src: url("montserrat/Montserrat-Regular.otf");
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.25em;
}

body {
    font-family: Montserrat;
}

article {
    padding: 2% 0;
}

section {
    text-align: center;
    margin-bottom: 8vh;
}

:root, section:nth-child(1) {
    --background: #fc8b8b;
    --dark-background: #ff5757;
}

section:nth-child(2) {
    --background: #fcc28b;
    --dark-background: #ffab57;
}

section:nth-child(3) {
    --background: #fafc8b;
    --dark-background: #fbff00;
}

section:nth-child(4) {
    --background: #98fc8b;
    --dark-background: #6bff57;
}

section:nth-child(5) {
    --background: #8bfcf4;
    --dark-background: #57fff7;
}

section:nth-child(6) {
    --background: #918bfc;
    --dark-background: #5f57ff;
}

section:nth-child(7) {
    --background: #d18bfc;
    --dark-background: #bf57ff;
}

h1 {
    text-align: center;
    font-size: 8vh;
    background-color: var(--dark-background);
    padding: 10vh 0 2vh;
}

h1 #titleImage {
    height: 30vh;
    margin-bottom: 2vh;
}

h2 {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 2vw;
    background-color: var(--background);
    padding: 2vh 0;
}

h3 {
    display: block;
    text-align: left;
    font-size: 3.5vh;
    margin-top: 3vw;
    margin-bottom: 2vw;
    background-color: var(--dark-background);
    border-bottom: 3vh solid var(--background);
    padding: 5vh 10vw 1vh;
}

p {
    font-size: 12pt;
    margin: 0 15vw 2vw;
    text-align: justify;
}

p.equation {
    display: inline-block;
    background-color: var(--background);
    padding: 0 2vw;
}

section > img {
    width: 30%;
    margin-bottom: 2vw;
}

img.diagram {
    width: 80%;
}

iframe .desmos {
    border: 1px solid #ccc;
    margin-bottom: 2vw;
}